.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    padding-top: 10px;
    height: 84px;
    border-bottom: 2px solid #c81523;
}

.registerarea {
    margin-top: 20px;
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.registerarea h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}

.login {
    float: right;
    font-size: 14px;
}

.login a {
    color: #c81523;
}

.reg_form {
    width: 600px;
    /* background-color: pink; */
    margin: 50px auto 0;
}

.reg_form ul li {
    margin-bottom: 20px;
}

.reg_form ul li label {
    display: inline-block;
    width: 88px;
    /* 对齐方式 */
    text-align: right;
}

.reg_form ul li input {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}

.error {
    color: #c81523;
}

.error_icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../images/error.png) no-repeat;
    margin-top: -2px;
}

.success {
    color: green;
}

.success_icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../images/success.png) no-repeat;
    margin-top: -2px;
}

.safe {
    padding-left: 160px;
}

.safe em {
    padding: 0 12px;
    color: #fff;
}

.safe em:first-child {
    background-color: #de1111;
}

.safe em:last-child {
    background-color: #40b83f;
}

.zhong {
    background-color: #f79100;
}

.agree input {
    vertical-align: middle;
}

.agree {
    padding-left: 95px;
    height: 15px;
}

.agree .inp {
    width: 12px;
    border: 1px solid #ccc;
}

.agree a {
    padding-left: 10px;
    color: #1ba1e6;
}

.btn {
    width: 200px;
    height: 34px;
    background-color: #c81623;
    font-size: 14px;
    color: #fff;
    margin: 30px 0 0 85px;
}

.mod_copright {
    padding-top: 50px;
    text-align: center;
}

.links {
    margin-bottom: 15px;
}

.copright {
    line-height: 20px;
}

.links a {
    margin: 0 3px;
}